*{
margin: 0px;
padding: 0px;
font-family: sans-serif;
box-sizing: border-box;
}

.pics{

display: flex;


}
.operation{
    width: 200px;
    height: 25px;
    
}
.padding{
    padding-left: 25px;
}

.and{
padding-left: 25px;

}

.who{
 padding-left: 25px;

}